mixin add()
  -
    const mock = [
      {text: "Базовое размещение"},
      {text: "Вывод на&#160;первых позициях"},
      {text: "Кастомный цвет карточки"}
    ]
  -
    const mock2 = [
      {text: "99&#160;руб./мес"},
      {text: "59&#160;руб./мес"}
    ]
  - const img = "rates"
  section.add
    .container
      h2!= "Добавьте свой профиль"
      ul.add__list
        each item in mock
          li.add__item!= item.text
      .add__card
        .add__wrap
          h3!= "Бесплатно"
            each item in mock2
              div!= item.text
        img(src=`img/sprite/${img}.svg`, width="200", height="202", alt="Серебрянная монета.")
      +btn({href: '#'}).add__btn
        svg(width="73" height="71" viewBox="0 0 73 71" fill="none" xmlns="http://www.w3.org/2000/svg")
          ellipse(cx="36.4278" cy="35.4028" rx="36.4278" ry="35.4028" fill="#E2E5F2")
          path(d="M46.4731 45.0259V41.5393C46.4731 40.5631 46.3296 39.5868 45.7555 38.6105C45.1815 37.6343 44.464 36.7975 43.4595 36.2396C42.455 35.5423 40.3024 35.4028 39.2979 35.4028L37.0018 37.7737L37.8628 39.5868V43.7708L36.4278 45.3049L34.9928 43.7708V39.5868L35.9973 37.7737L33.5577 35.4028C32.4097 35.4028 30.2572 35.5423 29.2526 36.2396C28.2481 36.7975 27.6741 37.6343 27.1001 38.6105C26.5261 39.5868 26.3826 40.4236 26.3826 41.5393V45.0259C26.3826 45.0259 30.1137 46.5601 36.4278 46.5601C42.742 46.5601 46.4731 45.0259 46.4731 45.0259Z" fill="#3F4251")
          path(d="M36.4278 24.3853C33.7012 24.3853 32.1227 26.8956 32.5532 29.6849C32.9837 32.4742 34.4187 34.4268 36.4278 34.4268C38.4368 34.4268 39.8719 32.4742 40.3024 29.6849C40.7329 26.7562 39.1544 24.3853 36.4278 24.3853Z" fill="#3F4251")
        span!= "Показать тарифы для бизнеса"
