mixin land()
  -
    const main = [
      {mainland: "Европа"},
      {mainland: "Азия"},
      {mainland: "Америка"},
      {mainland: "Острова"}
    ]
  -
    const mock = {
      а: [
        {name: 'Австралия'},
        {name: 'Австрия'},
        {name: 'Азербайджан'},
        {name: 'Албания'},
        {name: 'Алжир'},
        {name: 'Ангола'},
        {name: 'Андорра'},
        {name: 'Антигуа и Барбуда'},
        {name: 'Аргентина'},
        {name: 'Армения'},
        {name: 'Афганистан'}
      ],
      б: [
        {name: 'Багамские Острова'},
        {name: 'Бангладеш'},
        {name: 'Барбадос'},
        {name: 'Бахрейн'},
        {name: 'Беларусь'},
        {name: 'Белиз'},
        {name: 'Бельгия'},
        {name: 'Бенин'},
        {name: 'Болгария'},
        {name: 'Боливия'},
        {name: 'Босния и Герцеговина'},
        {name: 'Ботсвана'},
        {name: 'Бразилия'},
        {name: 'Бруней'},
        {name: 'Буркина-Фасо'},
        {name: 'Бурунди'},
        {name: 'Бутан'}
      ],
      в: [
        {name: 'Вануату'},
        {name: 'Великобритания'},
        {name: 'Венгрия'},
        {name: 'Венесуэла'},
        {name: 'Восточный Тимор'},
        {name: 'Вьетнам'}
      ],
      г: [
        {name: 'Габон'},
        {name: 'Гаити'},
        {name: 'Гайана'},
        {name: 'Гамбия'},
        {name: 'Гана'},
        {name: 'Гватемала'},
        {name: 'Гвинея'},
        {name: 'Гвинея-Бисау'},
        {name: 'Германия'},
        {name: 'Гондурас'},
        {name: 'Гренада'},
        {name: 'Греция'},
        {name: 'Грузия'}
      ],
      д: [
        {name: 'Дания'},
        {name: 'Джибути'},
        {name: 'Доминика'},
        {name: 'Доминикана'}
      ],
      е: [
        {name: 'Египет'}
      ],
      з: [
        {name: 'Замбия'},
        {name: 'Зимбабве'}
      ],
      и: [
        {name: 'Израиль'},
        {name: 'Индия'},
        {name: 'Индонезия'},
        {name: 'Иордания'},
        {name: 'Ирак'},
        {name: 'Иран'},
        {name: 'Ирландия'},
        {name: 'Исландия'},
        {name: 'Испания'},
        {name: 'Италия'}
      ],
      к: [
        {name: 'Кабо-Верде'},
        {name: 'Казахстан'},
        {name: 'Камбоджа'},
        {name: 'Камерун'},
        {name: 'Канада'},
        {name: 'Катар'},
        {name: 'Кения'},
        {name: 'Кипр'},
        {name: 'Киргизия'},
        {name: 'Кирибати'},
        {name: 'Китай'},
        {name: 'Колумбия'}
      ],
      л: [
        {name: 'Лаос'},
        {name: 'Латвия'},
        {name: 'Лесото'},
        {name: 'Либерия'},
        {name: 'Ливан'},
        {name: 'Ливия'},
        {name: 'Литва'},
        {name: 'Лихтенштейн'},
        {name: 'Люксембург'}
      ],
      м: [
        {name: 'Маврикий'},
        {name: 'Мавритания'},
        {name: 'Мадагаскар'},
        {name: 'Малави'},
        {name: 'Малайзия'},
        {name: 'Мали'},
        {name: 'Мальдивы'},
        {name: 'Мальта'},
        {name: 'Марокко'}
      ],
      н: [
        {name: 'Намибия'},
        {name: 'Науру'},
        {name: 'Непал'},
        {name: 'Нигер'},
        {name: 'Нигерия'},
        {name: 'Нидерланды'},
        {name: 'Никарагуа'},
        {name: 'Новая Зеландия'},
        {name: 'Норвегия'}
      ],
      о: [
        {name: 'ОАЭ'},
        {name: 'Оман'}
      ],
      п: [
        {name: 'Пакистан'},
        {name: 'Палау'},
        {name: 'Панама'},
        {name: 'Папуа - Новая Гвинея'},
        {name: 'Парагвай'},
        {name: 'Перу'},
        {name: 'Польша'},
        {name: 'Португалия'}
      ],
      р: [
        {name: 'Руанда'},
        {name: 'Румыния'},
        {name: 'Россия'}
      ],
      с: [
        {name: 'Сальвадор'},
        {name: 'Самоа'},
        {name: 'Сан-Марино'},
        {name: 'Саудовская Аравия'},
        {name: 'Сейшелы'},
        {name: 'Сенегал'},
        {name: 'Сербия'},
        {name: 'Сингапур'},
        {name: 'Сирия'},
        {name: 'Словакия'},
        {name: 'Словения'},
        {name: 'США'}
      ],
      т: [
        {name: 'Таджикистан'},
        {name: 'Таиланд'},
        {name: 'Танзания'},
        {name: 'Того'},
        {name: 'Тонга'},
        {name: 'Тринидад и Тобаго'},
        {name: 'Тувалу'},
        {name: 'Тунис'},
        {name: 'Туркмения'},
        {name: 'Турция'}
      ],
      у: [
        {name: 'Уганда'},
        {name: 'Узбекистан'},
        {name: 'Украина'},
        {name: 'Уругвай'}
      ],
      ф: [
        {name: 'Фиджи'},
        {name: 'Филиппины'},
        {name: 'Финляндия'},
        {name: 'Франция'}
      ],
      х: [
        {name: 'Хорватия'}
      ],
      ч: [
        {name: 'Чад'},
        {name: 'Черногория'},
        {name: 'Чехия'},
        {name: 'Чили'}
      ],
      ш: [
        {name: 'Швейцария'},
        {name: 'Швеция'},
        {name: 'Шри-Ланка'}
      ],
      э: [
        {name: 'Эквадор'},
        {name: 'Эритрея'},
        {name: 'Эсватини'},
        {name: 'Эстония'},
        {name: 'Эфиопия'}
      ],
      ю: [
        {name: 'ЮАР'},
        {name: 'Южный Судан'}
      ],
      я: [
        {name: 'Ямайка'},
        {name: 'Япония'}
      ],
    }
  section.land
    .container
      .land__head
        .land__title
          svg(xmlns="http://www.w3.org/2000/svg", width="23", height="15", viewBox="0 0 23 15", fill="none")
            rect(x="11", width="12", height="3", fill="#192144")
            rect(x="11", y="12", width="12", height="3", fill="#192144")
            rect(y="6", width="12", height="3", fill="#192144")
            rect(x="6", width="3", height="3", fill="#192144")
            rect(x="6", y="12", width="3", height="3", fill="#192144")
            rect(x="14", y="6", width="3", height="3", fill="#192144")
            rect(width="4", height="3", fill="#192144")
            rect(y="12", width="4", height="3", fill="#192144")
            rect(x="19", y="6", width="4", height="3", fill="#192144")
          h2!= "Фильтрация по странам:"
        .land__countries
          each item in main
            label.land__mainland!= item.mainland
              input.visually-hidden(type="checkbox", name="qwe")
        button.land__open!= "Показать все"
      .land__cont
        ul.land__megalist
          each data, headline in mock
            li.land__megaitem
              button.land__letter!= headline
              ul.land__list
                each item in data
                  li.land__item!= item.name
        button.land__close!= "Свернуть"
