mixin pry()
  section.pry
    .container
      h2!= "Заинтересовались?"
      p!= "Зарегистрируйтесь, это быстро и&#160;бесплатно! Уже зарегистрированы? Тогда скорее"
        a.pry__link(href= "#")!= "авторизуйтесь."
      form.pry__form
        input.pry__input(id="email")
        +btn({href: '#'}).pry__reg
        label(for="email").pry__label!= "E-mail"
      p!= "Остались вопросы? Мы&#160;с&#160;радостью на&#160;них ответим!"
      .pry__contacts
        a.pry__mail!= "8 800 555-86-28"
        a.pry__tel!= "mail@htmlacademy.ru"
