mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container(data-animate="footer-content")
      .footer__wrapper.footer__wrapper--first(data-animate="footer-item")
        img(src="img/sprite/way-fade.svg", width="56", height="40", alt="Логотип.")
        .footer__copyright!= "&#169;&#160;2021&#8211;2023<br> ООО &#171;Корпоративный центр ИКС&#160;5&#187;"
      .footer__wrapper.footer__wrapper--second(data-animate="footer-item")
        a.footer__policy.footer__policy--1!= "Политика конфиденциальности"
        a.footer__policy.footer__policy--2!= "Пользовательское соглашение"
        a.footer__policy.footer__policy--3!= "Правила акции"
